<!DOCTYPE html>
<html>
<head>
   {% load static %}
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="{% static 'css/basic.css' %}">
   <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
   <!-- Start Agency -->
   <!-- Bootstrap core CSS -->
   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

   <!-- Custom fonts for this template -->
   <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
   <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
   <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="{% static 'css/agency.css' %}" rel="stylesheet">
   
   <!-- End Agency -->

   <!-- other -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

   {% block head %}
   <title></title>
   {% endblock%}
<!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
mixpanel.init("891a74617404f11e92cf9c6d1492ea5e");</script><!-- end Mixpanel -->




</head>
<body id="page-to2">
   {% block navigation %}
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
         <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">spot guide</a>
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            
            <i class="fas fa-bars"></i>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
               {% if known%}
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#portfolio">Destinations</a>
               </li>
               {% else %}
               <!--<li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#wizard">Destinations</a>
               </li>-->
               {% endif %}

               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#services">About</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#how">How it works</a>
               </li>

               
               <!--<li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#about">About</a>
               </li>-->
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#team">Team</a>
               </li>
               <!--<li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
               </li>-->
            </ul>
         </div>
      </div>
   </nav>
   {% endblock%}


   {% block wizard %}
   
   {% endblock%}


   {% block destinations %}
   
   {% endblock%}


   
   {% block content %}
   <h1>Test from base</h1>
   {% endblock%}

   {% block footer %}
   <!-- Footer -->
   <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Spot Guide 2019</span>
       </div>
       <!--<div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
             </a>
          </li>
          <li class="list-inline-item">
           <a href="#">
             <i class="fab fa-facebook-f"></i>
          </a>
       </li>
       <li class="list-inline-item">
        <a href="#">
          <i class="fab fa-linkedin-in"></i>
       </a>
    </li>
 </ul>
</div>-->
<!--<div class="col-md-4">
 <ul class="list-inline quicklinks">
   <li class="list-inline-item">
     <a href="#">Privacy Policy</a>
  </li>
  <li class="list-inline-item">
     <a href="#">Terms of Use</a>
  </li>
</ul>
</div>-->
</div>
</div>
</footer>
{% endblock%}


{% block scripts %}

<!-- Bootstrap core JavaScript -->
<!--<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

   <!--<script
   src="https://code.jquery.com/jquery-3.4.1.min.js"
   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
   crossorigin="anonymous"></script>-->
   <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

   <!-- Plugin JavaScript -->
   <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

   <!-- Contact form JavaScript -->
   <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
   <script src="{% static 'js/contact_me.js' %}"></script>

   <!-- Custom scripts for this template -->
   <script src="{% static 'js/agency.js' %}"></script>
   {% endblock %}

   {% block addscripts %}
   <script src=""></script>
   {% endblock %}


</body>
</html>