{% extends "base.html" %}


{% block wizard %}
{% include "wizard.html" %}
{% endblock %}

{% block destinations %}
{% include "destinations.html" %}
{% endblock %}

{% block content %}

{% load static %}

  

  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Spot Guide in short</h2>
          <h3 class="section-subheading text-muted">We exist to help you experience great surf adventures.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
            <i class="fas fa-search-location fa-stack-1x text-secondary"></i>

          </span>
          <h4 class="service-heading">Less research</h4>
          <p class="text-muted">Now you don't have to spend countless of hours reading up on forums, asking around and trying to figure out which destinations suits your needs.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
            <i class="fas fa-hand-holding-heart fa-stack-1x text-secondary"></i>


          </span>
          <h4 class="service-heading">Tailored</h4>
          <p class="text-muted">We know people look for different things so we took years of experience and converted it into an easy way for you to find a destination that is perfect, for you.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
            <i class="fas fa-unlink fa-stack-1x text-secondary"></i>

          </span>
          <h4 class="service-heading">Independent</h4>
          <p class="text-muted">We have no affiliation with any specific company or resort which means that there is no bias when we give you our recommendations.</p>
        </div>
      </div>
    </div>
  </section>



<!-- About -->
  <section class="bg-light" id="how">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">How it works</h2>
          <h3 class="section-subheading text-muted">It's super simple.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">

            <li>
              <div class="timeline-image">
                <!--<div class="rounded-circle img-fluid" > <i class="fas fa-question fa-3x"></i></div>-->
                <!--<i class="fas fa-question fa-3x" style="vertical-align: middle;"></i>-->
                <!--<span class="fa-stack fa-4x">-->
            	<!--<i class="fas fa-circle fa-stack-2x text-primary"></i>-->
            	<img class="rounded-circle img-fluid" src="{% static 'img/about/1.jpg' %}" alt="">

          		<!--</span>-->
              </div>

              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Answer some questions</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">By answering a couple of questions you help us understand what you are looking for.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Get suggestions</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Based on your answers and our knowledge of different surf destinations we'll present a selection of destinations that fit your needs!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Browse destinations</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Get info about the recommended destinations and figure out why they would be a good choice for you.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/about/4.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Find activity providers</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">When you find one or more destinations you like, select them and we will send you information about activity providers located there.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Pack<br>your<br>bags!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- Team -->

  <section  id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">The Team</h2>
          <h3 class="section-subheading text-muted">Built with love by:</h3>
        </div>
      </div>
      <div class="row">
        
        <div class="col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/team/fred.jpg' %}" alt="">
            <h4>Fredrik Malmberg</h4>
            <p class="text-muted">Keyboard Jockey</p>
            <!--<ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>-->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/team/mattias.jpg' %}" alt="">
            <h4>Mattias Lindmark</h4>
            <p class="text-muted">Surfer Dude</p>
            <!--<ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted"></p>
        </div>
      </div>
    </div>
  </section>


<!-- Hidden input form <div id="demo"></div>
<form action="" id="form" method="post">
	{% for q in questions %}
	<fieldset id="question{{q.id}}">
	   {% for answer in q.answer_set.all %}
	   <label><input type="hidden" id="answer_{{answer.id}}" value="{{answer.text}}" name="question{{q.id}}">{{answer.text}}</label>
	   {% endfor %}
	</fieldset>
	{% endfor %}
</form>-->
{% endblock %}

{% block addscripts %}


<script>

//FILL OUT FORM
$(document).ready(function(){
	{% for q in questions %}
      {% for answer in q.answer_set.all %}
    $(".check_answer_{{answer.id}}").click(function(){
    	mixpanel.track("clicked answer", {"Question" : "{{q}}", "Answer" : "{{answer.text}}"});
        $("#answer_{{answer.id}}").prop("checked", true);
    });
    {% endfor %}
    {% endfor %}
});

//SHOW FORM
function showForm() {
  var x = document.getElementById("form");
  var text = "";
  var i;
  for (i = 0; i < x.length ;i++) {
  	if ((x.elements[i] instanceof HTMLInputElement)  && (x.elements[i].checked)) {
  		text += x.elements[i].value + "<br>";
  	}
  }
  //this is where the output happens
  document.getElementById("demo").innerHTML = text;
}

//Track start and finish
$( ".wizStart" ).click(function(e) {
	mixpanel.track("wizard started");
});

$( ".btnSubmit" ).click(function(e) {
	mixpanel.track("wizard completed");
});

$( ".restartBtn" ).click(function(e) {
	mixpanel.track("wizard restarted");
});


//Track destination


$(".portfolio-link").click(function(e) {
  
  //console.log("Clicked Destination", {"Destination ID" : e.target.id});
  //console.log(e.target.id);
  var currentId = jQuery(this).attr("id");
  //console.log(currentId);
  mixpanel.track("clicked destination", {"Destination ID" : currentId});

});  


//MAKE IT SLIDE
$( ".nextBtn" ).click(function(e) {
	goRight();
});
$( ".backBtn" ).click(function(e) {
	goLeft();
	mixpanel.track("Clicked back");
	
});
$( ".undim" ).click(function(e) {
	$(".color-overlay").css("background-color", "rgba(8, 8, 8, 0.20)");
});


function goRight(){ // inner stuff slides left
	
    $(".color-overlay").css("background-color", "rgba(8, 8, 8, 0.50)");
	var initalLeftMargin = $( ".innerLiner" ).css('margin-left').replace("px", "")*1;
	var newLeftMargin = (initalLeftMargin - $( ".innerLiner" ).width()/{{num_questions}})-4; // extra 2 for border
	//console.log(newLeftMargin)
	//$( ".innerLiner" ).animate({marginLeft: newLeftMargin}, 500);
	$( ".innerLiner" ).animate({ marginLeft: newLeftMargin }, 700, 'easeOutCirc');
}
function goLeft(){ // inner stuff slides right
	var initalLeftMargin = $( ".innerLiner" ).css('margin-left').replace("px", "")*1;
	var newLeftMargin = (initalLeftMargin + $( ".innerLiner" ).width()/{{num_questions}}+4); // extra 2 for border
	$( ".innerLiner" ).animate({marginLeft: newLeftMargin}, 500);
}




</script>




{% endblock %}