{% extends "base.html" %}
{% block content %}


<div class="mycontainer">

  <div class="innerLiner" style="width:{{num_questions}}00%">
  {% for q in questions %}
	  <span class="box">
      {{ q.question }}
      
      
      {% for answer in q.answer_set.all %}
		 <div class="btn check_answer_{{answer.id}} nextBtn" type="button">{{answer.text }}</div>
		 
	  {% endfor %}
	  {% if not forloop.first %}
      <input class="backBtn" type="button" value="Back">
      {% endif %}
      
    </span>
  {% endfor %}
    <span class="box">
      <label for="email">Enter your email:</label>
      <form action="" method="post">
      	{% csrf_token %}
      	  {% for q in questions %}
	        <fieldset id="question{{q.id}}">
	        {% for answer in q.answer_set.all %}
	           <input type="hidden" id="answer_{{answer.id}}" value="{{answer.text}}" name="question{{q.id}}">
	        {% endfor %}
	        </fieldset>
	      {% endfor %}


          <input type="email" name="email" id="email" size="30" required>
          <input type="button" onclick="showForm()">
          <button type="submit">Show me the values!</button>
      </form>
    </div>
    </span>




  </div>

</div>


<div id="demo"></div>

<!-- Hidden input form 
<form action="" id="form" method="post">
	{% for q in questions %}
	<fieldset id="question{{q.id}}">
	   {% for answer in q.answer_set.all %}
	   <label><input type="hidden" id="answer_{{answer.id}}" value="{{answer.text}}" name="question{{q.id}}">{{answer.text}}</label>
	   {% endfor %}
	</fieldset>
	{% endfor %}
</form>-->



<script>

//FILL OUT FORM
$(document).ready(function(){
	{% for q in questions %}
      {% for answer in q.answer_set.all %}
    $(".check_answer_{{answer.id}}").click(function(){
    	console.log(".answer_{{answer.text}}");
        $("#answer_{{answer.id}}").prop("checked", true);
    });
    {% endfor %}
    {% endfor %}
});

//SHOW FORM
function showForm() {
  var x = document.getElementById("form");
  var text = "";
  var i;
  for (i = 0; i < x.length ;i++) {
  	if ((x.elements[i] instanceof HTMLInputElement)  && (x.elements[i].checked)) {
  		text += x.elements[i].value + "<br>";
  	}
  }
  //this is where the output happens
  document.getElementById("demo").innerHTML = text;
}


//MAKE IT SLIDE
$( ".nextBtn" ).click(function(e) {
	goRight();
});
$( ".backBtn" ).click(function(e) {
	goLeft();
});

function goRight(){ // inner stuff slides left
	var initalLeftMargin = $( ".innerLiner" ).css('margin-left').replace("px", "")*1;
	var newLeftMargin = (initalLeftMargin - $( ".innerLiner" ).width()/2)-4; // extra 2 for border
	console.log(newLeftMargin)
	$( ".innerLiner" ).animate({marginLeft: newLeftMargin}, 500);
}
function goLeft(){ // inner stuff slides right
	var initalLeftMargin = $( ".innerLiner" ).css('margin-left').replace("px", "")*1;
	var newLeftMargin = (initalLeftMargin + $( ".innerLiner" ).width()/2+4); // extra 2 for border
	$( ".innerLiner" ).animate({marginLeft: newLeftMargin}, 500);
}




</script>


{% endblock %}