<header class="masthead">
    <div class="container-fluid color-overlay">
      <div class="intro-text">
        <div class="mycontainer">
          <div class="innerLiner" style="width:{{num_questions}}00%">
            <span class="box" style="width:{{box_width}}%">
              <div class="intro-lead-in">Welcome To Tide Guide!</div>
                    <div class="intro-heading text-uppercase">Find your next surf destination</div>
              
              <div class="btn btn-primary btn-xl text-uppercase js-scroll-trigger nextBtn" >Lets go!</div>
              
            </span>

            {% for q in questions %}
            
            <span class="box" style="width:{{box_width}}%">
              <span class="framed">
              <p class="intro-lead-in">
              {{ q.question }} ({{forloop.counter}}/{{num_questions|add:-2}})
              <p><div class="backBtn {% if forloop.first %}undim{% endif %} fas fa-arrow-left"></div></p>
              
              </p>
              <div class="answer-box">
              {% for answer in q.answer_set.all %}
              <br>
                    
              <div class="check_answer_{{answer.id}} nextBtn"><i class="fas fa-check"></i> <span>{{answer.text }}</span></div>
              {% endfor %}
                </div>
              
              
              </span>
            </span>
            {% endfor %}
            <span class="box" style="width:{{box_width}}%">
              <span class="framed">
              <p class="intro-lead-in">Well done!</p>
              <label for="email">Enter your email and stay tuned:</label>
              <form action="" method="post">
                {% csrf_token %}
                {% for q in questions %}
                <fieldset id="question{{q.id}}">
                  {% for answer in q.answer_set.all %}
                  <input type="radio" style="display: none;" id="answer_{{answer.id}}" value="{{answer.id}}_{{answer.text}}" name="{{q.id}}_{{q.question}}">
                  {% endfor %}
                </fieldset>
                {% endfor %}
                <br>
                <input type="email" name="email" id="email" size="30">
                        <br><br><br>Show me my destinations
                <br><br><button class="btn btn-primary btn-xl text-uppercase" type="submit">Go!</button>
                <br><br><div class="backBtn fas fa-arrow-left"></div>
              </form>
            </span>
            </div>
          </span>
        </div>
    
    </div>


    
</div>
</div>
  </header>